<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">GET HELP</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Order Status</a>
          </li>
          <li>
            <a href="#!">Delivery</a>
          </li>
          <li>
            <a href="#!">Returns</a>
          </li>
          <li>
            <a href="#!">Payment Options</a>
          </li>
          <li>
            <a href="#!">Contact Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ABOUT</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">News</a>
          </li>
          <li>
            <a href="#!">Careers</a>
          </li>
          <li>
            <a href="#!">Investors</a>
          </li>
          <li>
            <a href="#!">Sustainability</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Information</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Guides</a>
          </li>
          <li>
            <a href="#!">Terms of Sale</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">More Form Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Lego Life</a>
          </li>
          <li>
            <a href="#!">Lego City</a>
          </li>
          <li>
            <a href="#!">Lego Education</a>
          </li>
          <li>
            <a href="#!">Lego Ideas</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://localhost:8080/"> Mykingdom Official</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

